<div class="card-title">List of Organizations</div>
<div class="card-category">Page Subtitle</div>
Date: 2024-03
rev 00
</div>
<br />
<div class="col-md-12 row">
    <div class="col-md-6">
        <form class="navbar-left navbar-form nav-search mr-md-3" action="">
            <div class="input-group">
                <input type="text" placeholder="Search ..." class="form-control" />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-search search-icon"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <a href="{% url 'organization-add' %}" class="btn btn-success btn-rounded">Add Organization</a>
        </div>
    </div>
</div>
</div>
<div class="card-body">
